<%= form_for(@my_file, html: { multipart: true }) do |f| %>
  <% if @my_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_file.errors.count, "error") %> prohibited this my_file from being saved:</h2>

      <ul>
      <% @my_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.file_field :input_file %>
    <%= f.submit %>
<% end %>
