<p id="notice"><%= notice %></p>

<h1>Listing My Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_files.each do |my_file| %>
      <tr>
        <td><%= link_to 'Show', my_file %></td>
        <td><%= link_to 'Edit', edit_my_file_path(my_file) %></td>
        <td><%= link_to 'Destroy', my_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My file', new_my_file_path %>
