<p id="notice"><%= notice %></p>

<image src="data:image/png;base64, <%= @my_file.db_file %>" />
<%= image_tag image_path @my_file.local_file %>

<%= link_to 'Edit', edit_my_file_path(@my_file) %> |
<%= link_to 'Back', my_files_path %>
