<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Bucket-APP', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
          <li><%= link_to 'Show My Files', my_files_path %></li>
          <li><%= link_to 'Save New File', new_my_file_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>